.columna_rojo{
  color: #FFFFFF; /*blanco*/
  background-color: #FF0000; /*rojo*/
}

.blanco{

  background-color: #FFFFFF; /*blanco*/
}

.gris{

  background-color: #D8D8D8; /*gris*/
}

td, th{

  height: 50px;
  width: 150px;
}
#ancho{

  width: 90px;
}
.azul{

  color: #0000FF;/*azul*/
  text-decoration: underline;
}
.rojo{

  color: #FF0000;/*rojo*/
  text-decoration: underline;
}

.R_rojo {
  font-size: 200%;
  color: #FF0000;/*rojo*/
  text-decoration: underline;

}

.R_azul{

  font-size: 200%;
  color: #0000FF;/*azul*/
  text-decoration: underline;
}
