.parrafo1 {
    color: red;
}

.palabra1 {
    color: blue;
    
text-decoration: underline;
}

.parrafo2 {
    color: green;
    
}

.palabra2 {
    color: red;
    text-decoration: underline;

}

.parrafo3 {
    color: blue;
}

.palabra3 {
    color: green;
    
text-decoration: underline;
}
